{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue dans ce Blog !</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nemo quae laudantium perspiciatis eaque quibusdam, alias totam at! Quae, inventore. Sequi cumque sint voluptate quo dolor. Facere saepe inventore eveniet harum deserunt. Pariatur est praesentium dolorum fugiat possimus delectus numquam.</p>
    <p>Natus velit quasi error sint, ad impedit iusto doloribus expedita recusandae voluptate reprehenderit quis omnis quos modi ab tempora molestiae suscipit cupiditate voluptas cumque, voluptatem perferendis autem sunt consequuntur! Voluptatem expedita ipsum quisquam molestias fugit maxime temporibus impedit vero quaerat?</p>
{% endblock  %}