{# heritier du template de base #}
{% extends  'base.html.twig' %}

{% block body  %}
    <h1>Bienvenue les amis</h1>
    {# l'interpollation en twig affiche le contenu d'une variable #}
    {{ title }}
    {# les commandes en twig #}
    {% if age>18 %}
        <p>Tu est majeur</p>
    {% else %}
        <p>Tu est mineur</p>
    {% endif %}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quaerat quo praesentium veritatis aliquam sequi ratione doloremque, ipsum cumque tempora exercitationem unde quod atque. Atque officiis ipsam aliquam labore incidunt et, quod nihil qui autem praesentium eaque soluta sequi eveniet?</p>
    <p>Repellendus, quis voluptatibus. Asperiores ratione debitis doloribus laborum molestias et, vitae voluptatibus ducimus distinctio illum, enim eius molestiae harum modi laboriosam adipisci inventore delectus animi voluptates temporibus odit quod itaque praesentium. Sit quia distinctio accusantium culpa quam quis, ex enim?</p>
{% endblock %}