{# heritirr du template de base #}
{% extends 'base.html.twig' %}
{# ettendre le block body #}
{% block body %}
    <h1>Bienvenue dans ce Blog !</h1>
    {{ title }}
    {% if age>18 %}
    <p>Majeur</p>
    {% else %}
    <p>Mineur</p>
    {% endif %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aut magnam mollitia eos dolores quis sit, dolorem pariatur, illo harum alias impedit consequuntur deserunt expedita facere? Repudiandae ipsam praesentium, neque cum possimus nemo architecto amet nisi id officia, reprehenderit atque?</p>
    <p>Molestiae et quibusdam laudantium, aperiam similique laboriosam aliquam animi deserunt vitae laborum maiores numquam voluptates placeat rem nostrum! Laboriosam sit dolore facere assumenda? Earum distinctio, itaque illo velit quidem amet impedit ad ullam a! Odit hic commodi ipsa voluptate vero.</p>
{% endblock %}