{# heritier du template de base #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Home de mon site</h1>
    {# l'interpollation #}
    {# <h2>{{title}}</h2> #}
    {# les commandes en twig #}
    {# {% if age > 18%}
        <p>Majeur</p>
    {% else %}
        <p>Mineur   </p>
    {% endif %} #}

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos sint eius debitis repellat natus quibusdam consectetur ratione, magnam corporis ut deserunt, aliquid, minima ducimus ad facilis? Exercitationem, unde? Beatae labore laboriosam dolores numquam cum, eum est veritatis ea omnis magni.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos sint eius debitis repellat natus quibusdam consectetur ratione, magnam corporis ut deserunt, aliquid, minima ducimus ad facilis? Exercitationem, unde? Beatae labore laboriosam dolores numquam cum, eum est veritatis ea omnis magni.</p>
{% endblock %}